<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Enter Password</title>
</head>
<body>
<form>
  <input type="password" id="myPassword" placeholder="Enter password">
  <button type="button" onclick="callHttp()">Submit</button>
</form>
<script type="text/javascript">
  var myPassword = document.getElementById("myPassword");
  callHttp = function(){
    var downloadUrl = "{{ download_url }}"
    var password = "{{ password }}"
    console.log('myPassword: ' + myPassword.value);
    console.log('password: ' + password);
    if(myPassword.value === password){
      console.log(downloadUrl);
      var passwordedUrl = 'https://www.updatafile.com/api/downloads/' + downloadUrl + '?password=' + myPassword.value;
      //var passwordedUrl = 'http://localhost:8000/api/downloads/' + downloadUrl + '?password=' + myPassword.value;
      console.log(passwordedUrl);
      window.open(passwordedUrl);
    } else {
      alert("Wrong password!");
    }
  }
</script>
</body>
</html>
