<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Enter Password</title>
</head>
<body>
<form>
  <input type="password" id="myPassword" placeholder="Enter password">
  <button type="button" onclick="myFunc()">Submit</button>
  <button type="button" onclick="callHttp()">Submit2</button>
</form>
<script type="text/javascript">
  var myPassword = document.getElementById("myPassword");
  myFunc = function(){
    console.log('Entered password is :', myPassword.value);
  }
  callHttp = function(){
    var downloadUrl = "{{ download_url }}"
    console.log(downloadUrl);
    var passwordedUrl = 'https://www.updatafile.com/api/downloads/' + downloadUrl + '?password=' + myPassword.value;
    window.open(passwordedUrl, "_blank");
  }
</script>
</body>
</html>
